body {
    height: 1080;
    background-image: url("./img/background.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: azure;
}

p {
    color:  cyan;
    margin-bottom: 2px;
}
